<div class="container">
	<h5>댓글</h5>
</div>
{% for comment in comments %}
	<form method="POST" action="/blog/comment/{{ comment.id }}/delete/">{% csrf_token %}
		<div class="container">
			
			<div class="well">
				{{ comment.content }}
				<div align="right"><button type="submit" class="btn btn-danger btn-sm">삭제</button></div>
			</div>
		</div>
		<input type="hidden" name="post_id" value="{{ post.pk }}" />
		<input type="hidden" name="comment_id" value="{{ comment.id }}" />
	</form>
{% endfor %}
	<form method="POST" action="/blog/comment/create/">{% csrf_token %}

		<div class="container">
			<h5>댓글 입력</h5>
		</div>
		<div class="container">
			
			<input type="hidden" name="pk" value="{{ post.pk }}" />
				
			<input type="textarea" class="form-control" name='comment_content'>			
			<br>
			<div align="right">
				<button type="submit" class="btn btn-success btn-sm">댓글 입력</button>
			</div>
		<hr>
		</div>
</form>

