{% extends 'blog_layout.html'%}
{% load bootstrap3 %}

{% block content %}

<div class="container">
  <h2>패스트 보드</h2>
  <p>어서 오세요. 패스트 보드입니다.</p>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>        
      </tr>
    </thead>
    <tbody>
    	{% for post in posts %}
		<tr class ="clickable-row" data-href="{% url 'myblog:view' pk=post.pk %}">
	        <td>{{ post.pk }}</td>
	        <td>{{ post.title }}</td>
	        <td>jay</td>
	        <td>{{post.created_at}}</td>
	     </tr>
    	{% empty %}
			<p>글이 하나도 없음. </p>    
		{% endfor %}
    </tbody>
  </table>
  <div><a class="btn btn-default"  role="button">글 목록</a></div>
  <button class="btn btn-default btn-md" href="{% url 'myblog:create'%}">글 쓰기</button>
  <div align="center">{% bootstrap_pagination posts %}</div>
</div>
<script>
	jQuery(document).ready(function($) {
	    $(".clickable-row").click(function() {
	        window.document.location = $(this).data("href");
	    });
	});
</script>
{% endblock %}
