{% extends 'blog_layout.html' %}

{% block page_title %} 글 제목 : {{ post.title}} {% endblock %}

{% block content %}

<div class="container">
  <h2>{{ post.title }}</h2>
  <div class="well"><h3>{{ post.content }}</h3></div>  
</div>

{% include 'comment_list.html' %}

<div class="container">
	<div align="right">
		<a class="btn btn-default" href="{% url 'myblog:list'%}" role="button">글 목록</a>
		<a class="btn btn-default" href="{% url 'myblog:edit' pk=post.pk %}" role="button">글 수정</a>
	<div>
</div>
<br>
{% endblock %}